* {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.contenedor-principal {
    /* height: 512vh; */
    width: 100%;
    display: flex;
    position: relative;
}

.contenedor {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    transition: all 1500ms ease-in-out;
    -webkit-transition: all 1500ms ease-in-out;
    -moz-transition: all 1500ms ease-in-out;
    -ms-transition: all 1500ms ease-in-out;
    -o-transition: all 1500ms ease-in-out;
}

section {
    min-width: 100%;
    height: 100%;
    height: auto;
    /* overflow: hidden; */
    display: flex;
}

.imgBox {
    position: relative;
    min-width: 33.333333333%;
    ]height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.imgBox:hover img {}

.contenido {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(55, 55, 55, 0.5);
    top: calc(100% - 30%);
    animation: animateCard 0.3s;
    -webkit-animation: animateCard 0.3s;
    opacity: 1;
    display: none;
}

.imgBox:hover .contenido {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    display: flex;
}

section .storyBox {
    padding: 0;
}

@keyframes animateCard {
    0% {
        top: 1500px;
    }
    100% {
        top: calc(100% - 30%);
    }
}


/* Menu */

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: -webkit-fill-available;
    width: -moz-available;
    z-index: 999;
    align-items: center;
    padding: 1.4em;
    background: #ffffff;
}

.container-menu {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logotype {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 48em) {
    nav nav {
        display: inline;
    }
}

.menu__box {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: flex-end;
}

.menu__item {
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1.9em;
    color: #1a1a1a;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.redes-sociales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.8rem;
    justify-items: center;
    margin-left: 2rem;
}

.redes-sociales img {
    width: 25px;
    height: 25px;
}

.icon::after {
    content: "";
    color: transparent;
    display: block;
    margin: 0 0 0 0;
    width: 25px;
    height: 25px;
}

.icon-facebook::after {
    background: url(../assets/images/IconosSvg/ICONO_Facebook.svg) center center no-repeat;
    background-size: 25px;
}

.icon-instagram::after {
    background: url(../assets/images/IconosSvg/ICONOS_Instagram.svg) center center no-repeat;
    background-size: 25px;
}

.icon-linkedin::after {
    background: url(../assets/images/IconosSvg/ICONO_Linkedin.svg) center center no-repeat;
    background-size: 25px;
}

@media screen and (max-width: 48em) {
    .menu__box {
        flex-direction: column;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        margin: -600px 0 0 0;
        padding: 4em 0;
        text-align: center;
        background-color: #1a1a1a;
        box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition-duration: 0.5s;
    }
    .menu__box:focus {
        outline: none;
    }
    .container-menu {
        width: 100%;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #ffffff;
        font-size: 18px;
        transition-duration: 0.5s;
    }
    .menu__item:hover {
        background-color: #4f5464;
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
    background: #ffffff;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background: #ffffff;
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
    margin: 0;
}

.menu__btn {
    transition-duration: 0.25s;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
}

.menu__btn span {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1a1a1a;
}

.menu__btn span::before {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1a1a1a;
    content: "";
    top: -8px;
    transition-duration: 0.25s;
}

.menu__btn span::after {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1a1a1a;
    content: "";
    top: 8px;
    transition-duration: 0.25s;
}

@media screen and (min-width: 48em) {
    .menu__btn {
        display: none;
    }
}


/* fin del menu */