@font-face {
    font-family: 'Montserrat regular';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat semi';
    src: url('../assets/fonts/Montserrat-SemiBold.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat medium';
    src: url('../assets/fonts/Montserrat-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins regular';
    src: url('../assets/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.contenedor-principal {
    width: 100%;
    position: relative;
}

.contenedor {
    width: 100%;
    display: flex;
    transition: all 1500ms ease;
}

section {
    min-width: 100%;
    height: 100%;
    height: auto;
    display: flex;
}

.imgBox {
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.imgBox img {
    max-width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.imgBox:hover img {}

.contenido {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(55, 55, 55, .5);
    top: calc(100% - 40%);
    animation: animateCard .3s;
    -webkit-animation: animateCard .3s;
    opacity: 1;
    display: none;
    padding: 2rem 3rem;
    color: #ffffff;
    font-family: 'Montserrat regular';
    box-sizing: border-box;
}

.contenido h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.imgBox:hover .contenido {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    display: flex;
    flex-direction: column;
}

@keyframes animateCard {
    0% {
        top: 1500px;
    }
    100% {
        top: calc(100% - 40%);
    }
}


/* Menu */

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: -webkit-fill-available;
    width: -moz-available;
    z-index: 999;
    align-items: center;
    padding: 1.4em;
    background: #ffffff;
}

.container-menu {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logotype {
    display: flex;
}

.logotype img {
    width: 150px;
    height: 30px;
}

nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    nav {
        display: inline;
    }
}

.menu__box {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: flex-end;
}

.menu__item {
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1.9em;
    color: #1a1a1a;
    font-family: 'Poppins regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.redes-sociales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.8rem;
    justify-items: center;
    margin-left: 2rem;
}

.icon::after {
    content: "";
    color: transparent;
    display: block;
    margin: 0 0 0 0;
    width: 20px;
    height: 20px;
}

.icon-facebook::after {
    background: url(../assets/images/IconosSvg/ICONO_Facebook.svg) center center no-repeat;
    background-size: 20px;
}

.icon-instagram::after {
    background: url(../assets/images/IconosSvg/ICONOS_Instagram.svg) center center no-repeat;
    background-size: 20px;
}

.icon-linkedin::after {
    background: url(../assets/images/IconosSvg/ICONO_Linkedin.svg) center center no-repeat;
    background-size: 20px;
}

.icon-email::after {
    background: url(../assets/images/IconosSvg/ICONO_Correo.svg) center center no-repeat;
    background-size: 20px;
}

.icon-telefono::after {
    background: url(../assets/images/IconosSvg/ICONO_Contacto.svg) center center no-repeat;
    background-size: 20px;
}

@media screen and (max-width: 900px) {
    .menu__box {
        flex-direction: column;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        margin: -600px 0 0 0;
        padding: 4em 0;
        text-align: center;
        background-color: #1a1a1a;
        box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition-duration: 0.5s;
    }
    .menu__box:focus {
        outline: none;
    }
    .container-menu {
        width: 100%;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #ffffff;
        font-size: 18px;
        transition-duration: 0.5s;
    }
    .menu__item:hover {
        background-color: #4f5464;
    }
    .imgBox img {
        height: 100vh;
    }
    .imgBoxCuadricula img {
        width: 100%;
        height: 100%;
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
    background: #ffffff;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background: #ffffff;
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
    margin: 0;
}

.menu__btn {
    transition-duration: 0.25s;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2px;
    width: 26px;
    /* height: 26px; */
    cursor: pointer;
    z-index: 2;
}

.menu__btn span {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1a1a1a;
}

.menu__btn span::before {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1a1a1a;
    content: "";
    top: -8px;
    transition-duration: 0.25s;
}

.menu__btn span::after {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1a1a1a;
    content: "";
    top: 8px;
    transition-duration: 0.25s;
}

@media screen and (min-width: 900px) {
    .menu__btn {
        display: none;
    }
}


/* fin del menu */

.contenedor-principal {
    background-color: #f4f4f4;
}

.container-button {
    background-color: #fff;
    background-image: url(../assets/images/Iconos/Iconos_Proyectos_Cuadro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.3s all ease;
}

.button-cuadricula {
    background-color: #000000;
    background-image: url(../assets/images/Iconos/Iconos_Proyectos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;
}

.container-button:hover {
    transform: rotate(360deg);
}

.contenedor-proyectos {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    padding: 0 0 5rem;
}

.imgBoxCuadricula {
    display: flex;
}

.imgBoxCuadricula img {
    max-width: 100%;
}

#contenedorCuadricula {
    display: none;
}

.cuadricula {
    padding: 3rem 0 0;
}

.menu-cuadricula {
    margin-bottom: 4rem;
}

.menu-proyectos {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-proyectos li button {
    padding: .5rem 0;
    width: 140px;
    margin: 0.5rem .6rem;
    font-family: 'Poppins regular';
    border-radius: 20px;
    background-color: #EAEAEA;
    color: #1a1a1a;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}


/* ********************************** */


/* ********************************** */


/* ********************************** */


/* ********************************** */


/* ********************************** */


/* estilos para la p치gina de contacto */


/* ********************************** */


/* ********************************** */


/* ********************************** */


/* ********************************** */


/* ********************************** */

.container-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 85%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    gap: 2rem;
}

.header-contacto {
    position: relative !important;
}

.contacto-page {
    background-color: #ff6d00;
    height: 80vh;
}

.contenedor-contacto {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 80px;
}

.texto-contacto {
    color: white;
    text-align: justify;
    grid-column: span 7;
}

.form-contacto {
    justify-items: stretch;
    grid-column: 8 / -1;
}

.texto-contacto h1 {
    font-size: 2.5rem;
    font-family: "Montserrat bold";
    margin-bottom: 0.8rem;
}

.texto-contacto p {
    font-family: "Montserrat regular";
}

.contactanos {
    margin-top: 2rem;
}

.contactanos h3 {
    font-size: 1.5rem;
    font-family: "Montserrat bold";
    margin-bottom: 0.8rem;
}

.contactanos a {
    color: #fff;
    font-family: "Montserrat regular";
    text-decoration: none;
    display: flex;
}

.formulario-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    gap: 1rem;
}

.formulario-contacto .item-input {
    grid-column: span 3;
    color: #fff;
    font-family: "Montserrat regular";
}

.contacto-links {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    margin-bottom: 20px;
}

.contacto-links span {
    margin-right: 0.5rem;
}

.text-comentario {
    display: flex;
}

.item-input input,
.item-input textarea {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 3px;
    font-size: 0.8rem;
    outline: none;
    color: #ffffff;
    font-family: "Montserrat regular";
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.item-input input {
    height: 30px;
}

.item-input textarea {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.item-submit {
    grid-column: span 3;
}

.submit-contacto {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    font-family: "Montserrat semi";
    color: #fff;
    padding: 0.5rem 2.6rem;
    outline: none;
    font-size: 1rem;
}

.mapa {
    height: 70vh;
}

footer {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    text-align: center;
    padding: 1.6rem 0;
    background-color: #1a1a1a;
}


/*  */


/*  */


/*  */


/* P치gina de servicios */


/*  */


/*  */


/*  */

.owl-dots {
    position: absolute;
    cursor: pointer;
    bottom: 3%;
    background: transparent;
    border-color: #fff;
    width: 100%;
}

.owl-carousel .owl-stage-outer {
    height: 100%;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ffffff;
    height: 12px;
    width: 12px;
    outline: none;
}

.owl-theme .owl-dots .owl-dot.active {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.owl-theme .owl-dots .owl-dot span {
    transition: 0.48s all ease-in;
    background: #fff;
    margin: 5px 5px;
    outline: none;
}

.owl-dot:focus {
    outline: none;
}

#dotsContainer {
    position: relative;
    right: 0;
    bottom: 2%;
    z-index: 9;
}

#dotsContainer .owl-dots {
    right: 2%;
}

.owl-theme .owl-dots .owl-dot {
    cursor: pointer;
}

@media (max-width: 575.98px) {
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        height: 10px;
        width: 10px;
    }
    .owl-theme .owl-dots .owl-dot span {
        height: 6px;
        width: 6px;
    }
    .contacto-links {
        grid-template-columns: 1fr;
    }
    .contenedor-proyectos {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .container-button {
        top: .5em;
        right: 1rem;
        height: 2.3rem;
        width: 2.3rem;
        background-size: 1.3rem;
    }
    .button-cuadricula {
        background-size: 1.3rem;
    }
    .imgBoxCuadricula img {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        height: 10px;
        width: 10px;
    }
    .owl-theme .owl-dots .owl-dot span {
        height: 6px;
        width: 6px;
    }
    .contacto-links {
        grid-template-columns: 1fr;
    }
    .contenedor-proyectos {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .container-button {
        top: .5em;
        right: 1rem;
        height: 2.3rem;
        width: 2.3rem;
        background-size: 1.3rem;
    }
    .button-cuadricula {
        background-size: 1.3rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        height: 10px;
        width: 10px;
    }
    .owl-theme .owl-dots .owl-dot span {
        height: 6px;
        width: 6px;
    }
    .contacto-links {
        grid-template-columns: 1fr 2fr;
    }
    .contenedor-proyectos {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}

.banner {
    top: 0px;
    left: 0px;
    height: auto;
    position: relative;
    overflow: hidden;
    width: 100vw;
}

.banner>img.fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.container-servicio {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    z-index: 1;
    color: #ffffff;
    text-align: center;
    gap: 1rem;
}

.titulo-servicio {
    font-size: 3.5rem;
    font-family: "Montserrat bold";
    text-shadow: 1px 1px 3px #1a1a1a;
}

.top-titulo,
.bottom-title {
    font-size: 1.1rem;
    font-family: "Montserrat semi";
}

.bottom-title {
    font-family: "Montserrat medium";
}

.iconos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-rows: 3fr 2fr;
}

.contenedor-icono {
    display: flex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    padding: 1.2rem;
    width: 30px;
    height: 30px;
    margin-bottom: 0.8rem;
}

.iconos-container h5 {
    font-family: "Montserrat semi";
    font-size: 1rem;
}

.icono-1,
.icono-2,
.icono-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.button-contacto {
    grid-column: 1/-1;
    align-self: center;
}

.button-contacto .submit-contacto {
    text-decoration: none;
}


/*  */


/* Items de servicio de identidad */


/*  */

.delay {
    animation-delay: 400ms;
}

.item-identidad,
.item-web,
.item-redes {
    z-index: 1;
    position: absolute;
    animation-delay: 400ms;
}

.item-identidad-1 {
    width: 350px !important;
    right: 0;
}

.item-identidad-2 {
    width: 500px !important;
    right: -100px;
    bottom: -150px;
}

.item-identidad-3 {
    width: 300px !important;
    right: 40px;
    top: calc(50% - 10px);
}

.item-identidad-4 {
    width: 600px !important;
    left: -300px;
    bottom: -250px;
}

.item-identidad-5 {
    width: 120px !important;
    left: 250px;
    bottom: 0;
}

.item-identidad-6 {
    width: 120px !important;
    left: 200px;
    bottom: 0;
}

.item-identidad-7 {
    width: 300px !important;
    left: 0px;
}

.item-identidad-8 {
    width: 180px !important;
    left: 320px;
    bottom: 30px;
}

.item-identidad-9 {
    width: 300px !important;
    left: 0px;
    top: 160px;
}


/* Items de servico de p치ginas web */

.item-web-1 {
    right: 0;
    top: -20px;
    width: 400px;
}

.item-web-2 {
    right: -50px;
    top: calc(50% - 150px);
    width: 350px;
}

.item-web-3 {
    right: 0;
    bottom: 0;
    width: 300px;
}

.item-web-4 {
    width: 400px;
    left: -80px;
}

.item-web-5 {
    width: 450px;
    bottom: -150px;
    left: -100px;
}

.item-web-6 {
    bottom: -60px;
    width: 200px;
    left: 250px;
}


/* Items de redes sociales */

.item-redes-1 {
    right: -100px;
    width: 350px;
}

.item-redes-2 {
    bottom: -100px;
    right: -150px;
    width: 550px;
}

.item-redes-3 {
    width: 500px;
    bottom: -180px;
    left: -100px;
}

.item-redes-3 img {
    transform: rotate(15deg);
}

.item-redes-4 {
    width: 350px;
    left: -50px;
}

@media screen and (max-width: 900px) and (min-width:600px) {
    .item-web,
    .item-redes,
    .item-identidad {
        display: none;
    }
    .titulo-servicio {
        font-size: 2.8rem;
    }
    .top-titulo,
    .bottom-title {
        font-size: 1.1rem
    }
    .contenedor-icono {
        height: 20px;
        width: 20px;
    }
    .iconos-container h5 {
        font-size: 0.85rem;
    }
    .contacto-page {
        height: auto;
        padding: 2rem 0;
    }
    .container-grid,
    .contenedor-contacto {
        grid-template-columns: 1fr;
        grid-column: span 1;
    }
    .form-contacto,
    .texto-contacto {
        grid-column: 1/-1;
    }
    .item-submit {
        text-align: center;
    }
}

@media screen and (max-width: 599.98px) {
    .item-web,
    .item-redes,
    .item-identidad {
        display: none;
    }
    .titulo-servicio {
        font-size: 2.4rem;
    }
    .top-titulo,
    .bottom-title {
        font-size: 0.8rem
    }
    .contenedor-icono {
        height: 20px;
        width: 20px;
    }
    .iconos-container h5 {
        font-size: 0.65rem;
    }
    .contacto-page {
        height: auto;
        padding: 2rem 0;
    }
    .container-grid,
    .contenedor-contacto {
        grid-template-columns: 1fr;
        grid-column: span 1;
    }
    .form-contacto,
    .texto-contacto {
        grid-column: 1/-1;
    }
    .texto-contacto h1 {
        font-size: 1.8rem;
    }
    .texto-contacto p {
        font-size: 0.9rem;
    }
    .item-submit {
        text-align: center;
    }
}


/* Animaci칩n flotante */

.flotanteInfinito {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: flotante 6s ease-in-out infinite;
    animation: flotante 6s ease-in-out infinite;
}

@-webkit-keyframes flotante {
    0% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
    50% {
        /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
        -webkit-transform: translatey(-20px);
        transform: translatey(-20px);
    }
    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}

@keyframes flotante {
    0% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
    50% {
        /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
        -webkit-transform: translatey(-20px);
        transform: translatey(-20px);
    }
    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}